/**{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  /*background: #79acac;
  
}
/*MAIN
.main{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/doc5.jpg);
  /*background: #79acac;
  background-size: 100%;
  padding: 20px;
  width: 97%;
}

/*container
.container{
  color: white;
  margin: 4rem auto;
  padding: 20px;
  width: 70%;
  min-width: 30rem;
  text-align: center !important;
  background-color: rgba(0, 0, 0, 0.6);
  /*background-repeat: repeat;
  background-size: 100%;
  width: 50%;
  margin: auto;
  font-family: 'century gothic';
  color: white;
  box-shadow: 3px 3px 10px #000;
}

.main h2{
  font-family: 'century gothic';
  /*color: #0d041b;
  color: white;
  text-align: center;
  font-size: 5vw;
  padding: 3px;
  /*font-size: 200%;*/
  /*text-shadow: 3px 3px 2px rgb(175, 194, 235);
}
 h5{
  font-family: 'century gothic';
  /*color: #0d041b;
  text-align: left;
  color: white;
  text-align: left;
 }

/*FORM
.main form{
  /*background-color: rgba(90, 71, 202, 0.685);
  background-color: rgba(0, 0, 0, 0.685);
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
  font-size: 1.5em;
  
}
label{
  text-align: left;
}

/*input
.cajas{
  
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  margin: 15px 0;
  background-color: #e9f0f0;
  border: 2px solid rgb(20, 5, 5);
}

.cajas:hover{
  background-color: #ccf3f2;
  border: 2px solid #000;
  box-shadow: 3px 3px 6px #fff;
}
.fecha{
  
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  margin: 15px 0;
  background-color: #e9f0f0;
  border: 2px solid rgb(20, 5, 5);
}

.fecha:hover{
  background-color: #ccf3f2;
  border: 2px solid #000;
  box-shadow: 3px 3px 6px #fff;
}

/*botón
.btn{
  align-items: center;
  height: 40px;
  padding: 10px 40px;
  border-radius: 7px;
  background-color: rgb(64, 43, 121);
  color: #bdd7d8;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

.btn:hover{
  box-shadow: 3px 3px 5px #000;
  background-color: #0098fe;
  color: #000;
}

.nav a{
text-decoration: none;
font-family: 'century gothic';
font-size: 23px;
  color: black;
  width: 98%;
display: inline-block;
  padding: 12px;
  background: white;

}

/*----------------------------Bootstrap--------------------------------
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  background-color: transparent;
}*/
/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
.main{
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/clinicadental.jpg");
}
.container{
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%,-50%);
  padding: 15px;
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: auto;
}
.container h5{
  font-size: larger;
  
}

.container h2{
  font-size: 3vw;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}
.container h5{
  text-align: left;
  left: auto;
  margin: 10px;
}
.form{
  font-size: larger;
  left: 100px;
  margin: 50px;
  position: relative;
  text-align: justify;
  /*padding: 5px;
}*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont{
  height: 100vh;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/clinica-dental-ivan-fernandez.s1.jpg");
}
.sombra{
  position: absolute;
  left: 50%;
  top: 57%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 80%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: auto;
  /*font-size: 2vw;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.sombra hr{
  border-top: 1px solid white;
}
.sombra h1{
  font-size: 57px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
  /*font-size: 4vw;*/
}
.sombra h3{
  text-align: left;
  font-size: 14px;
}
.cont_form{
  margin: 1px; /*centrar*/
  position: relative;
}
.btn{
  /*margin-inline-end: auto;*/
  /*padding-bottom: 100px;*/
  /*display: inline;*/
  /*margin-bottom: 10px;*/
  width: 100%;
}
