
*{
	margin: 0;
	border: 0;
	/*font-family: 'Times New Roman', Times, serif;*/
	box-sizing: border-box;
}
.contenedor{
 /*margin: auto;
 border: 0;*/
 height: 100vh;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background:url("../img/admin.jpeg");
 color: white;
 margin: auto;
}

.sombra{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		width: 80%;
		text-align: center !important;
		background-color: rgba(0,0,0, 0.6)
}

.sombra hr{
	border-top: 1px solid white;
}

.sombra h1{
	font-size: 6vw;
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 10px;
}
.contenedor_nav{
	margin: 15px;
	position: relative;
}
.contenedor_nav a{
	display: inline-block;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 1px;
	margin-bottom: 5px;
	width: 150px;
}
.contenedor_nav a:hover{
	background-color: white;
	color: #111;
}

